<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Refappa</string>
	<key>appDescription</key>
	<string>Aplicación para aprender a referenciar</string>
	<key>references</key>
	<array>
		<dict>
			<key>referenceName</key>
			<string>Película</string>
			<key>priority</key>
			<integer>0</integer>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionName</key>
					<string>Section Name</string>
					<key>priority</key>
					<integer>0</integer>
					<key>completion</key>
					<integer>0</integer>
					<key>topics</key>
					<array>
						<dict>
							<key>topicName</key>
							<string>Autor</string>
							<key>topicDescription</key>
							<string>Autor</string>
							<key>imgFoto</key>
							<string>Autor</string>
							<key>priority</key>
							<integer>0</integer>
							<key>completion</key>
							<integer>0</integer>
							<key>lessons</key>
							<array>
								<dict>
									<key>lessonName</key>
									<string>Director</string>
									<key>completed</key>
									<false/>
									<key>lessonStructure</key>
									<dict>
										<key>examples</key>
										<array>
											<dict>
												<key>imgDescription</key>
												<string>Utilice el nombre del director como autor de la referencia, seguido de la anotación (Director).</string>
												<key>imgFoto</key>
												<string>Autor</string>
											</dict>
										</array>
									</dict>
									<key>lessonDescription</key>
									<array>
										<dict>
											<key>imgDescription</key>
											<string>Utilice el nombre del director como autor de la referencia, seguido de la anotación (Director).</string>
											<key>imgFoto</key>
											<string>Autor</string>
										</dict>
									</array>
									<key>lessonExample</key>
									<dict>
										<key>examples</key>
										<array>
											<dict>
												<key>imgDescription</key>
												<string>Utilice el nombre del director como autor de la referencia, seguido de la anotación (Director).</string>
												<key>imgFoto</key>
												<string>Autor</string>
											</dict>
										</array>
									</dict>
									<key>lessonQuiz</key>
									<dict>
										<key>grade</key>
										<integer>0</integer>
										<key>questions</key>
										<array>
											<dict>
												<key>questionText</key>
												<string>¿Qué sucede si la película tiene más de una estudio de producción?</string>
												<key>points</key>
												<integer>5</integer>
												<key>questionImage</key>
												<dict>
													<key>imgDescription</key>
													<string>Autor</string>
													<key>imgFoto</key>
													<string>Autor</string>
												</dict>
												<key>questionAnswer</key>
												<array>
													<dict>
														<key>isCorrect</key>
														<true/>
														<key>answerText</key>
														<string>Puedes separarlas por punto y coma</string>
													</dict>
												</array>
												<key>isAnswered</key>
												<false/>
											</dict>
										</array>
										<key>lastQuestionAnswered</key>
										<integer>0</integer>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>referenceImage</key>
			<string>movie</string>
		</dict>
	</array>
</dict>
</plist>
